force-app/main/default/flows/todo_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>meow</description>
        <name>meow</name>
        <label>meow</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>todo_api.todos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>meow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Todo_lwc</targetReference>
        </connector>
    </assignments>
    <interviewLabel>todo example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>todo example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>meow</description>
        <name>Todo_lwc</name>
        <label>Todo lwc</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>todo_api</name>
            <extensionName>c:flowTodos</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>todos</name>
                <value>
                    <elementReference>todo_api.todos</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>meow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
